.App {
  min-height: 100vh;
}

.gradient-text {
  background: linear-gradient(to right, #2563EB, #7C3AED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
